<header>
    <div class="flexbox" style="url('/assets/img/HeaderBanner.png')">
        <h1>
            <a href={{site.baseurl}}>
                <img src="{{'assets/img/Watermark.png'}}" alt="Logo" style="background-color: rgba(0, 0, 0, 0.733);margin: 10; padding: 20px; border-radius: 100px;">
            </a>
        </h1>
        <h2>
            <img flex src="{{'assets/img/Banner.png'}}" alt="Banner.png" >
        </h2>
        <nav class="navlist">
            <ul>
                <li>
                    <a href={{site.baseurl}}>Home</a>
                </li>
                {% for page in site.pages %}
                {% if page.title %}
                <li>
                    <a href="{{site.baseurl}}{{page.url}}">{{page.title}}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </nav>
        <div class="dropdown">
            <button class="dropdownbutton"><b>Posts</b></button>
            <div class="dropdownposts">
                {% for page in site.posts reversed %}
                {% if page.show == true %}
                <a href="{{site.baseurl}}{{page.url}}">{{page.title}}</a>
                {% endif  %}
                {% endfor %}
            </div>
        </div>
    </div>
    <hr><br>
</header>