

$Title-Color: #63f7ef;
//$Page-BG1: #131313 ;
//$Page-BG2: #22172e ;

$Primary-Text-Color: #4695b9;

$Primary-Color: #4695b9;
$Secondary-Color: #1b1b1b;
$Tertiary-Color: #353535;

$H-Font: Yu Gothic;
$B-Font: Yu Gothic;

$B-Size: 20;

$Transition-Speed: 0.3s;

//Hover
//------------------------------------------------------------------------------------
:hover
{
    color: white;
}
//li
//------------------------------------------------------------------------------------
li{
    margin-left: 30px;
    list-style: none;
}

//Wrapper
//------------------------------------------------------------------------------------
.wrapper {
    margin: 0%;
  font-family: $B-Font;
  font-size: $B-Size;
  line-height: 1.5;
  color: $Primary-Text-Color;
  background-size: cover;
  background-image: url('/assets/img/Fortuna.gif');
  background-size:  cover;
  //background-image: repeating-linear-gradient($Page-BG1, $Page-BG2);
}

//a and h's
//------------------------------------------------------------------------------------
a
{
    color:$Primary-Text-Color;
    text-shadow: 2px 2px #131313;
}

h1{
    font-family: $H-Font;
    text-shadow: 2px 2px #131313;
}

h2{
    font-family: $H-Font;
    text-shadow: 2px 2px #131313;
}

h3{
    font-family: $H-Font;
    text-shadow: 2px 2px #131313;
}

h4{
    font-family: $H-Font;
    text-shadow: 2px 2px #131313;
}

h5{
    font-family: $H-Font;
    text-shadow: 2px 2px #131313;
}

h6{
    font-family: $H-Font;
    text-shadow: 2px 2px #131313;
}
//Dropdown
//------------------------------------------------------------------------------------
.dropdown{
    position: relative;
    display: inline-block;
    margin-left:auto;
    margin-right: 35;
}

.dropdownbutton {
    background: none;
    border-radius: 10px;
    color: $Primary-Text-Color;
    padding: 16px;
    font-size: xx-large;
    border: none;
    text-align: center;
    text-shadow: 2px 2px #131313;

}
.dropdown:hover .dropdownbutton 
{
    transition-duration: $Transition-Speed;
    color: white;
    background-color: #1d1d1db9;
}

.dropdownposts{
    display: none;
    position:absolute;
    background-color: $Secondary-Color;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px black;
    z-index: 1;
}
.dropdownposts a {
  color: $Primary-Text-Color;
  
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}
.dropdownposts a:hover{
    color: white;
}
.dropdown:hover .dropdownposts {
    display: block;
}

//Page
//------------------------------------------------------------------------------------
.page{
    font-family: $B-Font;
    font-size: $B-Size;
    margin-inline: 20%;
    padding: 10px;
    padding-bottom: 30px;
    color: #5746b9;
    text-shadow: 2px 2px #131313;
    background-image: linear-gradient(#1b0e30e1, #1b1b1bec);
    border-radius: 5px;
    justify-items: center;
    p,h1,h2,h3,h4,h5,h6,a{
        color: #5746b9;
        text-align: center;
        text-decoration: none;
    }
    a:hover{
        color: white;
    }
    hr{
        width: 100%;
    }
    .titleHr{
        width: 20%;
    }
    iframe{
        display: block;
        margin: 0 auto;
    }
}
//Footer
//------------------------------------------------------------------------------------
footer{
    position: fixed;
    width: 100%;
    bottom: 0%;
    background-color: $Secondary-Color;
    hr{
        border-color: $Tertiary-Color;
        border-style: solid;
        border-width: 2;
        margin: 0%;
        
    }
    
   
}
//Header
//------------------------------------------------------------------------------------
header
{
    .flexbox
    {
        img
        {
            max-height: 130px;
        }
        max-height: 130px;
        display: flex;
        justify-content:left;
        margin: 0px;
        align-items: center;
        background-image: url('/assets/img/HeaderBanner.png');
        background-size: 100%;
        width: 100%;
        
        .navlist{
            
            ul{
                list-style-type: none;
                padding: 0px;
                overflow: hidden;
                font-family: $H-Font;
                font-size: xx-large;
                font-weight: bold;
            }
            li{
                a{
                    border-radius: 10px;
                    padding: 16px;
                    display: block;
                    text-align: center;
                    text-shadow: 2px 2px #131313;
                    text-decoration: none;
                }
                a:hover{
                    transition-duration: $Transition-Speed;
                    display: block;
                    background-color: #1d1d1db9;
                    text-shadow: 2px 2px #131313;
                    text-align: center;
                    text-decoration: none;
                }
                float: left;
            }
            
        }
    }

    hr{
        margin: 0%;
        border: 5px solid #131313;
    }
}
//Post
//------------------------------------------------------------------------------------
$PostMargin: 40;
.post{
    //Defaults
    font-family: $B-Font;
    font-size: $B-Size;
    line-height: 1.5;
    margin-inline: 50px;
    color: $Primary-Text-Color;
    text-shadow: 2px 2px #131313;

    background-color: #1b1b1bec;
    border-style: solid;
    border-width: 5;
    border-radius: 5px;
    border-color: $Tertiary-Color;
    summary{
        h1,h2,h3,h4,h5,h6{
            display:inline-block;

        }
        font-weight: bold;
    }
    summary:hover{
        color:white;
    }
    //H
    .titleh2{
        margin-left: 10;
        margin-top: auto;
        padding-top: 10;
        padding-bottom: 0;
        justify-content: left;
        margin-bottom: auto;
    }
    h3,h4,h5,h6{
        margin-top: auto;
        margin-left: $PostMargin;
        padding-top: 10;
        padding-bottom: 0;
        justify-content: left;
        margin-bottom: auto;
    }
    //hr
    hr{
        border-color: $Primary-Color;
        border-style: solid;
        border-width: 2;

    }
    p{
        margin-left: $PostMargin;
    }
    .titlearea{
        background-color: $Tertiary-Color;
    }

}
//Portfolio (post)
//------------------------------------------------------------------------------------
.portfolio{
}

.content{
    column-count: 2;
    flex:auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    
}
.textarea{
    justify-items: left;
    break-inside: avoid;
    h1,h2,h3,h4,h5,h6{
        margin-left: auto;
    }
}
.videoarea{
    display: flexbox;
    justify-items: center;
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0;
    top: 0;

    iframe{
        display:block;
        scale: 1.2;
        margin-top: 5%;
        margin-right: 10px;
        background-color: #131313b2;
        padding: 16px;
    }
}
.slowinfo{
    margin-left: $PostMargin;
    p{
        margin-left: auto;
    }

    pre{
        background-color: #202020;
        width: fit-content;
        padding-right: 10%;
        
    }
    code
    {
        all:unset;
    }

}
.quickinfo{
    margin-left: $PostMargin;
    justify-content: center;
    position: relative;
    width: 80% ;
    
}
.infosheet{
    margin-top: 10px;
    background-color: #131313;
    border-color: #292929;
    width: 100%;
    h4{
        margin-left: 5px;
    }
    th{
        display: flex;
        margin-right: 5px;
        margin-left: 5px;
    }
    td{
        padding-left: 5px;
        padding-bottom: 5px;
    }
}
