

$Title-Color: #63f7ef;
$Page-BG1: #131313 ;
$Page-BG2: #22172e ;

$Primary-Text-Color: #4695b9;

$Primary-Color: #4695b9;
$Secondary-Color: #1b1b1b;
$Tertiary-Color: #353535;

$H-Font: Yu Gothic;
$B-Font: Yu Gothic;

$B-Size: 20;

$Transition-Speed: 0.3s;

//Hover
//------------------------------------------------------------------------------------
:hover
{
    color: white;
}
//li
//------------------------------------------------------------------------------------
li{
    margin-left: 30px;
    list-style: none;
}

//Wrapper
//------------------------------------------------------------------------------------
.wrapper {
  font-family: $B-Font;
  font-size: $B-Size;
  line-height: 1.5;
  color: $Primary-Text-Color;
  background-image: repeating-linear-gradient($Page-BG1, $Page-BG2);
}

//a and h's
//------------------------------------------------------------------------------------
a
{
    color:$Primary-Text-Color;
    text-shadow: 2px 2px #131313;
}

h1{
    font-family: $H-Font;
    text-shadow: 2px 2px #131313;
}

h2{
    font-family: $H-Font;
    text-shadow: 2px 2px #131313;
}

h3{
    font-family: $H-Font;
    text-shadow: 2px 2px #131313;
}

h4{
    font-family: $H-Font;
    text-shadow: 2px 2px #131313;
}

h5{
    font-family: $H-Font;
    text-shadow: 2px 2px #131313;
}

h6{
    font-family: $H-Font;
    text-shadow: 2px 2px #131313;
}
//Dropdown
//------------------------------------------------------------------------------------
.dropdown{
    position: relative;
    display: inline-block;
    margin-left:auto;
    margin-right: 35;
}

.dropdownbutton {
    background: none;
    border-radius: 10px;
    color: $Primary-Text-Color;
    padding: 16px;
    font-size: xx-large;
    border: none;
    text-align: center;
    text-shadow: 2px 2px #131313;

}
.dropdown:hover .dropdownbutton 
{
    transition-duration: $Transition-Speed;
    color: white;
    background-color: #1d1d1db9;
}

.dropdownposts{
    display: none;
    position:absolute;
    background-color: $Secondary-Color;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px black;
    z-index: 1;
}
.dropdownposts a {
  color: $Primary-Text-Color;
  
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}
.dropdownposts a:hover{
    color: white;
}
.dropdown:hover .dropdownposts {
    display: block;
}

//Page
//------------------------------------------------------------------------------------
.page{
    font-family: $B-Font;
    font-size: $B-Size;
    margin-inline: 50px;
    padding: 10px;
    color: #5746b9;
    text-shadow: 2px 2px #131313;
    background-image: linear-gradient(#1b0e30, #1b1b1b);
    justify-items: center;
    p{
        text-align: center;
    }
    iframe{
        display: block;
        margin: 0 auto;
    }
}
//Footer
//------------------------------------------------------------------------------------
footer{
    position: fixed;
    width: 100%;
    bottom: 0%;
    background-color: $Secondary-Color;
   
}
//Header
//------------------------------------------------------------------------------------
header
{
    .flexbox
    {
        img
        {
            max-height: 130px;
        }
        max-height: 130px;
        display: flex;
        justify-content:left;
        margin: 0px;
        align-items: center;
        background-image: url(/assets/img/HeaderBanner.png);
        background-size: 100%;

        .navlist{
            
            ul{
                list-style-type: none;
                padding: 0;
                overflow: hidden;
                font-family: $H-Font;
                font-size: xx-large;
                font-weight: bold;
            }
            li{
                a{
                    border-radius: 10px;
                    padding: 16px;
                    display: block;
                    text-align: center;
                    text-shadow: 2px 2px #131313;
                    text-decoration: none;
                }
                a:hover{
                    transition-duration: $Transition-Speed;
                    display: block;
                    background-color: #1d1d1db9;
                    text-shadow: 2px 2px #131313;
                    text-align: center;
                    text-decoration: none;
                }
                float: left;
            }
            
        }
    }

    hr{
        border: 5px solid #131313;
    }
}
//Post
//------------------------------------------------------------------------------------
$PostMargin: 10;
.post{
    //Defaults
    font-family: $B-Font;
    font-size: $B-Size;
    line-height: 1.5;
    margin-inline: 50px;
    color: $Primary-Text-Color;
    text-shadow: 2px 2px #131313;

    background-color: $Secondary-Color;
    border-style: solid;
    border-width: 5;
    border-radius: 5px;
    border-color: $Tertiary-Color;

    //H
    .titleh2{
        margin-top: auto;
        margin-left: $PostMargin;
        padding-top: 10;
        padding-bottom: 0;
        justify-content: left;
        margin-bottom: auto;
    }
    //hr
    hr{
        border-color: $Primary-Color;
        border-style: solid;
        border-width: 2;

    }
    p{
        margin-left: $PostMargin;
    }
    //Div
    div{
        background-color: #353535;
    }


}